.emoji.jumboable {
    width: 72px;
    height: 72px;
    margin: 0px !important;
}

.emoji {
    margin: 0px !important;
}

.avatar-large {
    width: 70px;
    height: 70px;
    background-size: 70px 70px;
    border-radius: 10%;
}
